<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.testingshastra.util.RunnerTest" />
			<!-- <class name="com.testingshastra.uitest.Signuptest"/> -->
			<!-- <class name="com.testingshastra.uitest.Homepagetest"/> -->
			<!-- <class name="com.testingshastra.uitest.HomePageObjectTest"/> -->
			<!-- <class name="com.testingshastra.config.BaseClass"/> -->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
